table {
    border-collapse: collapse;
    width: 100%;
    height: 80%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }
.input-w{
    border: none;
    outline: none;
    text-align: center;

  }
  .container{
    background-image: url("../Assets/imgpsh_fullsize_anim\ copy.png");
    background-size: cover; 
    height: 20%;
    margin-bottom: 10px;
}
body{
    border: none solid;
    height: 100vh;
}