.education-entire{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-div{
    width: 45%;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.3);
}
.hea-ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.education-h{
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 12px;
}
.edit-icon{
    padding-right: 13px;
}


.plus{
    display: flex;
    justify-content: start;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    
}
.circle-icon{
    display: flex;
    flex-direction: row;
}
.add {
    padding-top: 9px;
    padding-left: 10px;
    font-family: sans-serif;
    cursor: pointer;
}
.qualification-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95%;
}

.qualification-dropdown {
    width: 100%;
}

.qualification-section select {
    width: 98%;
    margin-top: 3px;
    margin-bottom: 13px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}
.under-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


label {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    padding-top: 20px;
}
.course-name{
    width: 40%;
    padding-left: 10px;
}
.course-name input{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 180%;
}
.form-group {
    padding-left: 10px;
}
.course-end-date{
    padding-left: 10px;
}
.University-name {
    padding-left: 10px;
    margin-bottom: 14px;
}
.form-group input{
    display: flex;
    justify-content: start;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 74%;
}
.course-type select{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 88%;
}
.course-start-date input{
    display: flex;
    justify-content: start;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 87%;
}
.course-end-date input{
    display: flex;
    justify-content: start;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 75%;
}
.college-name input{
    display: flex;
    justify-content: start;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 86%;
}
.course-type {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.University-name input{
    display: flex;
    justify-content: start;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 74%;
}
/* button styled */
.button-container{
    text-align: end;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 25px;
}
.button-container button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.btn{
    background-color: white;
    box-shadow: #000;
    border-width: 0;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: #000;
    cursor: pointer;
}
.sbtn{
    background-color: #0093ff;
    box-shadow: #000;
    border-width: 0;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: #f3eeee;
    cursor: f;
}
